---
title: Web Design & Development, Madison, WI
---

{% include header.html %}

	<header class="home">
		<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-home.png" class="logo"></a>
	</header>

	<div class="seventy">

	  <article class="posts wrap">
		
		{% for item in site.posts limit:10 %}
		<div class="entry row-{{ increment post_count }}">
			<h4><a class='item' href='{{ site.baseurl }}{{ item.url }}'>{{ item.title }}</a></h4>
			{{ item.excerpt }}
		</div>
		{% endfor %}

		{% for client in site.data.clients %}
		<li>{{ client.name }} {{ client.link }}</li>
		{% endfor %}
		
	</div>

	<div class="thirty">

	  <article class="posts wrap">
		
		{% for item in site.posts limit:10 %}
		<div class="entry row-{{ increment post_count }}">
			<h4><a class='item' href='{{ site.baseurl }}{{ item.url }}'>{{ item.title }}</a></h4>
			{{ item.excerpt }}
		</div>
		{% endfor %}

		{% for client in site.data.clients %}
		<li>{{ client.name }} {{ client.link }}</li>
		{% endfor %}
		
	</div>

{% include footer.html %}