
@import url('https://fonts.googleapis.com/css?family=Antic+Slab');

@mixin font-headline {
	font-family: "Antic Slab", serif;
	font-weight: 700;
}

@mixin font-light {
	font-family: "Antic Slab", serif;
	font-weight: 400;
}

@mixin font-reading {
	font-family: "Antic Slab", serif;
	font-weight: 400;
}
