.wrap {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
	@include respond-to( 600px ) { padding: 40px 50px; }
	@include respond-to( 840px ) { padding: 50px; }
	@include respond-to( 1680px ) { max-width: 1000px; }
	@include respond-to( 2200px ) { max-width: 1440px; }
}


.half {
	padding: 8px 0;

	&.first { clear: left; }

	@include respond-to( 500px ) {
		width: 50%;
		float: left;
		padding: 20px 15px;
	}
}


@include respond-to( 1024px ) {
	.seventy {
		width: 60%;
		float: left;
		padding: 0 0 30px 70px;
	}
	
	.thirty {
		width: 40%;
		float: left;
		padding: 0 30px 0 0;
	}
}


@include respond-to( 1200px ) {	
	.thirty {
		padding: 0 70px 0 0;
	}
}