
$grey: #5f626f;

@import "reset";

@import "mixins";

@import "fonts";

body {
	@include font-reading;
	color: #555;
	font-size: 17px;
	line-height: 25px;

	@include respond-to( 768px ) {
		font-size: 20px;
		line-height: 30px;
	}
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 10px 0;

	@include respond-to( 768px ) {
		padding: 13px 0;
	}
}

h1 {
	font-size: 2em;
	line-height: 1.3em;
}

header {
	position: relative;
	box-shadow: 0 0 30px rgba( 0, 0, 0, 0.3 );
	background: $grey url(../img/bg-head-default.png);
	padding: 130px 30px 50px 30px;
	@include clearfix;

	&.cover {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	img.logo {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
	}

	h1 {
		max-width: 700px;
		margin: 0 auto;
		z-index: 3;
		color: white;
		text-shadow: 1px 1px 25px rgba( 0, 0, 0, 0.6 );
		@include font-headline;
	}
}

article {
	max-width: 800px;
	padding: 30px;
	margin: 0 auto;

	p.meta {
		@include font-light;
		font-size: 0.75em;
		color: lighten( $grey, 20% );
		letter-spacing: 2px;
	}

	@include respond-to( 768px ) {
		padding: 50px;
	}
}