---
title: Web Design & Development, Madison, WI
---

{% include header.html %}

	<main>
		
		<div class="vcard wrap">
			<div class="address">
				James Pederson<br>
				306 Parkwood Lane #4<br>
				Madison, WI 53714
			</div>
			<a href="tel:6084437567" class="phone">608.443.7567</a>
			<a href="mailto:james@jpederson.com" class="email">james@jpederson.com</a>
			<a href="https://github.com/jpederson" class="github">jpederson</a>
			<a href="https://fb.me/james.pederson" class="facebook">james.pederson</a>
			<a href="https://instagram.com/james.pederson" class="instagram">james.pederson</a>
			<a href="https://twitter.com/jamespederson" class="twitter">jamespederson</a>
		</div>

	</main>
	
{% include footer.html %}