{% include header.html %}
  
  <header class="post" {% if page.photo %} style="background-image: url({{ site.baseurl }}{{ page.photo }});"{% endif %}>
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-post.png" class="logo"></a>
    
    <div class="wrap">
      <h1 class="title">{{ page.title }}</a></h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
    </div>
  </header>

  <article class="wrap">
    {{content}}
    <p class="meta">Posted on {{ page.date | date:"%B %-d, %Y" }} in {% for cat in page.categories limit:1 %}{{ cat | capitalize }}{% endfor %} by {{ page.author }}</p>
  </article>

{% include header.html %}
