{% include header.html %}
  
  <header class="post" {% if page.photo %} style="background-image: url({{ site.baseurl }}{{ page.photo }});"{% endif %}>
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-post.png" class="logo"></a>
    
    <div class="wrap">
      <h1 class="title">{{ page.title }}</a></h1>
      {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
    </div>
  </header>

  <main>
    <article class="post">
      <div class="wrap">
        {{content}}
        <p class="meta">Posted on {{ page.date | date:"%B %-d, %Y" }} by {{ page.author }}</p>
      </div>
    </article>


    <div class="bg-purple-dark">
      <footer class="colophon wrap">
        <p>Copyright &copy; {{ 'now' | date: "%Y" }} James Pederson. All rights reserved.</p>
      </footer>
    </div>
    
  </main>

{% include header.html %}
